<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sanad - منصة الإرشاد</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/userProfile.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>  
<body>
    <header>
        <h1>منصة سند</h1>
        <nav>
            <ul>
                <li><a href="profile">الحساب</a></li>
                <li><a href="mentorreg">كن سند</a></li>
                <li><a href="mentorsearch">تبي سند؟</a></li>
                <li><a href="ratings">التقييم</a></li>
                <li><a href="signout">الخروج</a></li>
            </ul>
        </nav>
        <img src="{{ url_for('static', filename='222.png') }}" alt="Sanad Logo" class="logo"> <!-- Adjust src as needed -->

    </header>

    <main>
        <section>
            <h2>بيانات الحساب</h2>
            <p><strong>الإسم:</strong> {{ user[1] }}</p>
            <p><strong>البريد الإلكتروني:</strong> {{ user[0] }}</p>
            <p><strong>رقم الجوال:</strong> +966{{ user[2] }}</p>
            <p><strong>الجنس:</strong> {{ user[3] }}</p>
        </section>
    </main>

    <footer>
        <div class="social-icons">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <p>حقوق الطبع محفوظة &copy; 2024 منصة سند</p>
    </footer>
</body>
</html>
